:root {
  --body-fonts: 'Titillium Web';
}

body {
  margin: 0;
  font-family: 'Titillium Web';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-link {
  font-family: 'Hanalei Fill', cursive;
}
